<p>
  <strong>Beer club:</strong>
  <%= @membership.beer_club_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @membership.user_id %>
</p>

<%= link_to 'Edit', edit_membership_path, class:"btn btn-primary" if current_user %>
<%= link_to 'Destroy', @membership, method: :delete, data:
    { confirm: 'Are you sure?' }, class:"btn btn-danger" if current_user %>
