<% unless top.nil? %>
<table class="table table-hover">
  <thead>
  <tr>
    <th></th>
    <th>Average</th>
  </tr>
  </thead>

  <tbody>
  <% top.each do |t| %>
      <tr>
        <% if target == "beer" %>
          <td><%= link_to t.name,  beer_path(t)%></td>
        <% elsif target == "brewery" %>
          <td><%= link_to t.name,  brewery_path(t)%></td>
        <% else target == "style" %>
           <td><%= link_to t.name,  style_path(t)%></td>
        <% end %>
        <td><%= round(t.average_rating) %></td>
        <td></td>
      </tr>
  <% end %>
  </tbody>
</table>
<% end %>