<h1>Listing styles</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @styles.each do |style| %>
      <tr>
        <td><%= link_to style.name, style %></td>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user %>
  <%= link_to 'New Style', new_style_path, class:"btn btn-primary" %>
<% end %>