<%# navigation styled for Bootstrap 3.0 %>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Ratebeer</a>
    </div>
      <ul class="nav navbar-nav">
        <%= render 'layouts/navigation_links' %>
      </ul>
  </div>
</nav>
